In [195]:
from pytrends.request import TrendReq
import matplotlib.pyplot as plt
import pandas as pd
from functools import reduce

In [196]:
#pytrends = TrendReq(hl='en-US', tz=360+7*60, timeout=(10,25), retries=2, backoff_factor=0.1)
pytrends = TrendReq(hl='en-US', tz=360+7*60)
search_term = ["corona","covid","coronavirus","covid 19" ]

In [197]:
pytrends.build_payload(kw_list=search_term, timeframe='2020-01-01 2020-09-30', cat=0, geo='DE')

In [198]:
related_queries_df = pd.DataFrame(list(pytrend.related_queries().values())[0]['top'])
related_queries_list = list(keyword_df["query"])
print(related_queries_list)

['deutschland corona', 'corona aktuell', 'corona zahlen', 'corona news', 'corona virus', 'bayern corona', 'corona nrw', 'corona fälle', 'corona rki', 'corona usa', 'berlin corona', 'corona karte', 'corona fallzahlen', 'italien corona', 'corona test', 'corona hopkins', 'niedersachsen corona', 'corona symptome', 'corona infizierte', 'hessen corona', 'hamburg corona', 'corona sachsen', 'corona live', 'sachsen corona', 'corona in deutschland']

In [199]:
all_search_terms_list = search_term + related_queries_list
print (all_search_terms_list)

['corona', 'covid', 'coronavirus', 'covid 19', 'deutschland corona', 'corona aktuell', 'corona zahlen', 'corona news', 'corona virus', 'bayern corona', 'corona nrw', 'corona fälle', 'corona rki', 'corona usa', 'berlin corona', 'corona karte', 'corona fallzahlen', 'italien corona', 'corona test', 'corona hopkins', 'niedersachsen corona', 'corona symptome', 'corona infizierte', 'hessen corona', 'hamburg corona', 'corona sachsen', 'corona live', 'sachsen corona', 'corona in deutschland']

In [200]:
timeframe_first_half = '2020-01-01 2020-06-30'
timeframe_second_half = '2020-07-01 2020-09-30'

In [201]:
data_all = []
for i in range(0, (len(all_search_terms_list))):
    pytrends.build_payload(kw_list= [all_search_terms_list[i]],timeframe= timeframe_first_half, cat=0, geo='DE')
    data = pytrends.interest_over_time()
    pytrends.build_payload(kw_list= [all_search_terms_list[i]],timeframe= timeframe_second_half, cat=0, geo='DE')
    data_next = pytrends.interest_over_time()
    data = pd.concat([data, data_next])
    data = data.drop(labels=['isPartial'],axis='columns')
    data = data.reset_index()
    data = data.rename(columns={"corona":all_search_terms_list[i]})
    data_all.append(data)

In [202]:
data_all

[          date  corona
 0   2020-01-01       0
 1   2020-01-02       0
 2   2020-01-03       0
 3   2020-01-04       0
 4   2020-01-05       0
 ..         ...     ...
 269 2020-09-26      71
 270 2020-09-27      67
 271 2020-09-28      77
 272 2020-09-29      89
 273 2020-09-30      76

 [274 rows x 2 columns],
           date  covid
 0   2020-01-01      0
 1   2020-01-02      0
 2   2020-01-03      0
 3   2020-01-04      0
 4   2020-01-05      0
 ..         ...    ...
 269 2020-09-26     64
 270 2020-09-27     63
 271 2020-09-28     78
 272 2020-09-29     72
 273 2020-09-30     69

 [274 rows x 2 columns],
           date  coronavirus
 0   2020-01-01            0
 1   2020-01-02            0
 2   2020-01-03            0
 3   2020-01-04            0
 4   2020-01-05            0
 ..         ...          ...
 269 2020-09-26           19
 270 2020-09-27           19
 271 2020-09-28           19
 272 2020-09-29           20
 273 2020-09-30           18

 [274 rows x 2 columns],
           date  covid 19
 0   2020-01-01         0
 1   2020-01-02         0
 2   2020-01-03         0
 3   2020-01-04         0
 4   2020-01-05         0
 ..         ...       ...
 269 2020-09-26        60
 270 2020-09-27        66
 271 2020-09-28        71
 272 2020-09-29        75
 273 2020-09-30        73

 [274 rows x 2 columns],
           date  deutschland corona
 0   2020-01-01                   0
 1   2020-01-02                   0
 2   2020-01-03                   0
 3   2020-01-04                   0
 4   2020-01-05                   0
 ..         ...                 ...
 269 2020-09-26                  78
 270 2020-09-27                  74
 271 2020-09-28                  86
 272 2020-09-29                 100
 273 2020-09-30                  76

 [274 rows x 2 columns],
           date  corona aktuell
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              76
 270 2020-09-27              79
 271 2020-09-28              77
 272 2020-09-29             100
 273 2020-09-30              73

 [274 rows x 2 columns],
           date  corona zahlen
 0   2020-01-01              0
 1   2020-01-02              0
 2   2020-01-03              0
 3   2020-01-04              0
 4   2020-01-05              0
 ..         ...            ...
 269 2020-09-26             78
 270 2020-09-27             75
 271 2020-09-28             89
 272 2020-09-29            100
 273 2020-09-30             87

 [274 rows x 2 columns],
           date  corona news
 0   2020-01-01            0
 1   2020-01-02            0
 2   2020-01-03            0
 3   2020-01-04            0
 4   2020-01-05            0
 ..         ...          ...
 269 2020-09-26           39
 270 2020-09-27           41
 271 2020-09-28           47
 272 2020-09-29           61
 273 2020-09-30           38

 [274 rows x 2 columns],
           date  corona virus
 0   2020-01-01             0
 1   2020-01-02             0
 2   2020-01-03             0
 3   2020-01-04             0
 4   2020-01-05             0
 ..         ...           ...
 269 2020-09-26            67
 270 2020-09-27            54
 271 2020-09-28            52
 272 2020-09-29            85
 273 2020-09-30            47

 [274 rows x 2 columns],
           date  bayern corona
 0   2020-01-01              0
 1   2020-01-02              0
 2   2020-01-03              0
 3   2020-01-04              0
 4   2020-01-05              0
 ..         ...            ...
 269 2020-09-26             58
 270 2020-09-27             50
 271 2020-09-28             59
 272 2020-09-29             71
 273 2020-09-30             60

 [274 rows x 2 columns],
           date  corona nrw
 0   2020-01-01           0
 1   2020-01-02           0
 2   2020-01-03           0
 3   2020-01-04           0
 4   2020-01-05           0
 ..         ...         ...
 269 2020-09-26          25
 270 2020-09-27          24
 271 2020-09-28          32
 272 2020-09-29          52
 273 2020-09-30          43

 [274 rows x 2 columns],
           date  corona fälle
 0   2020-01-01             0
 1   2020-01-02             0
 2   2020-01-03             0
 3   2020-01-04             0
 4   2020-01-05             0
 ..         ...           ...
 269 2020-09-26            65
 270 2020-09-27            63
 271 2020-09-28            69
 272 2020-09-29            77
 273 2020-09-30            66

 [274 rows x 2 columns],
           date  corona rki
 0   2020-01-01           0
 1   2020-01-02           0
 2   2020-01-03           0
 3   2020-01-04           0
 4   2020-01-05           0
 ..         ...         ...
 269 2020-09-26          66
 270 2020-09-27          58
 271 2020-09-28          82
 272 2020-09-29          82
 273 2020-09-30          70

 [274 rows x 2 columns],
           date  corona usa
 0   2020-01-01           0
 1   2020-01-02           0
 2   2020-01-03           0
 3   2020-01-04           0
 4   2020-01-05           0
 ..         ...         ...
 269 2020-09-26          29
 270 2020-09-27          33
 271 2020-09-28          26
 272 2020-09-29          30
 273 2020-09-30          24

 [274 rows x 2 columns],
           date  berlin corona
 0   2020-01-01              0
 1   2020-01-02              0
 2   2020-01-03              0
 3   2020-01-04              0
 4   2020-01-05              0
 ..         ...            ...
 269 2020-09-26             24
 270 2020-09-27             21
 271 2020-09-28             30
 272 2020-09-29             49
 273 2020-09-30             40

 [274 rows x 2 columns],
           date  corona karte
 0   2020-01-01             0
 1   2020-01-02             0
 2   2020-01-03             0
 3   2020-01-04             0
 4   2020-01-05             0
 ..         ...           ...
 269 2020-09-26            69
 270 2020-09-27            58
 271 2020-09-28            72
 272 2020-09-29            77
 273 2020-09-30            52

 [274 rows x 2 columns],
           date  corona fallzahlen
 0   2020-01-01                  0
 1   2020-01-02                  0
 2   2020-01-03                  0
 3   2020-01-04                  0
 4   2020-01-05                  0
 ..         ...                ...
 269 2020-09-26                 67
 270 2020-09-27                 56
 271 2020-09-28                 73
 272 2020-09-29                 83
 273 2020-09-30                 74

 [274 rows x 2 columns],
           date  italien corona
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              61
 270 2020-09-27              45
 271 2020-09-28              38
 272 2020-09-29              37
 273 2020-09-30              33

 [274 rows x 2 columns],
           date  corona test
 0   2020-01-01            0
 1   2020-01-02            0
 2   2020-01-03            0
 3   2020-01-04            0
 4   2020-01-05            0
 ..         ...          ...
 269 2020-09-26           71
 270 2020-09-27           64
 271 2020-09-28           67
 272 2020-09-29           60
 273 2020-09-30           52

 [274 rows x 2 columns],
           date  corona hopkins
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              46
 270 2020-09-27              44
 271 2020-09-28              48
 272 2020-09-29              54
 273 2020-09-30              50

 [274 rows x 2 columns],
           date  niedersachsen corona
 0   2020-01-01                     0
 1   2020-01-02                     0
 2   2020-01-03                     0
 3   2020-01-04                     0
 4   2020-01-05                     0
 ..         ...                   ...
 269 2020-09-26                    45
 270 2020-09-27                    58
 271 2020-09-28                    52
 272 2020-09-29                    65
 273 2020-09-30                    61

 [274 rows x 2 columns],
           date  corona symptome
 0   2020-01-01                0
 1   2020-01-02                0
 2   2020-01-03                0
 3   2020-01-04                0
 4   2020-01-05                0
 ..         ...              ...
 269 2020-09-26               62
 270 2020-09-27               71
 271 2020-09-28               80
 272 2020-09-29               77
 273 2020-09-30               84

 [274 rows x 2 columns],
           date  corona infizierte
 0   2020-01-01                  0
 1   2020-01-02                  0
 2   2020-01-03                  0
 3   2020-01-04                  0
 4   2020-01-05                  0
 ..         ...                ...
 269 2020-09-26                 52
 270 2020-09-27                 59
 271 2020-09-28                 58
 272 2020-09-29                 71
 273 2020-09-30                 49

 [274 rows x 2 columns],
           date  hessen corona
 0   2020-01-01              0
 1   2020-01-02              0
 2   2020-01-03              0
 3   2020-01-04              0
 4   2020-01-05              0
 ..         ...            ...
 269 2020-09-26             30
 270 2020-09-27             22
 271 2020-09-28             45
 272 2020-09-29             56
 273 2020-09-30             49

 [274 rows x 2 columns],
           date  hamburg corona
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              73
 270 2020-09-27              75
 271 2020-09-28              78
 272 2020-09-29              88
 273 2020-09-30              66

 [274 rows x 2 columns],
           date  corona sachsen
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              57
 270 2020-09-27              40
 271 2020-09-28              63
 272 2020-09-29              77
 273 2020-09-30              72

 [274 rows x 2 columns],
           date  corona live
 0   2020-01-01            0
 1   2020-01-02            0
 2   2020-01-03            0
 3   2020-01-04            0
 4   2020-01-05            0
 ..         ...          ...
 269 2020-09-26           23
 270 2020-09-27           33
 271 2020-09-28           26
 272 2020-09-29           46
 273 2020-09-30           24

 [274 rows x 2 columns],
           date  sachsen corona
 0   2020-01-01               0
 1   2020-01-02               0
 2   2020-01-03               0
 3   2020-01-04               0
 4   2020-01-05               0
 ..         ...             ...
 269 2020-09-26              50
 270 2020-09-27              40
 271 2020-09-28              57
 272 2020-09-29              80
 273 2020-09-30              74

 [274 rows x 2 columns],
           date  corona in deutschland
 0   2020-01-01                      0
 1   2020-01-02                      0
 2   2020-01-03                      0
 3   2020-01-04                      0
 4   2020-01-05                      0
 ..         ...                    ...
 269 2020-09-26                     71
 270 2020-09-27                     62
 271 2020-09-28                     68
 272 2020-09-29                     90
 273 2020-09-30                     71

 [274 rows x 2 columns]]

In [203]:
df = reduce(lambda df1,df2: pd.merge(df1,df2,on='date'), data_all)
df

,date,corona,covid,coronavirus,covid 19,deutschland corona,corona aktuell,corona zahlen,corona news,corona virus,...,corona hopkins,niedersachsen corona,corona symptome,corona infizierte,hessen corona,hamburg corona,corona sachsen,corona live,sachsen corona,corona in deutschland
0,2020-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,2020-09-26,71,64,19,60,78,76,78,39,67,...,46,45,62,52,30,73,57,23,50,71
270,2020-09-27,67,63,19,66,74,79,75,41,54,...,44,58,71,59,22,75,40,33,40,62
271,2020-09-28,77,78,19,71,86,77,89,47,52,...,48,52,80,58,45,78,63,26,57,68
272,2020-09-29,89,72,20,75,100,100,100,61,85,...,54,65,77,71,56,88,77,46,80,90
273,2020-09-30,76,69,18,73,76,73,87,38,47,...,50,61,84,49,49,66,72,24,74,71